p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    /* normal=400 */
    /* bold=700 */
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
}